.contact {
    margin-top: 100px;
    &__title {
        text-align: center;
    }
    &__subtitle {
        margin-top: 20px;
        text-align: center;
    }
    &__wrapper {
        margin-top: 50px;
        background-color: $color-blue-light;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }
    &__form {
        background-color: #fff;
        padding: 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 570px;
        width: 100%;
        height: 480px;
    }
    &__input, &__textarea {
        color: $color-blue;
        padding: 15px;
        border: none;
        border-bottom: 1px solid #00506e40;
        min-height: 55px;
        &::placeholder {
            color: rgb(211, 211, 211);
        }
    }
    &__button {
        width: 200px;
    }
    &__box {
        max-width: 450px;
        width: 100%;
        height: 480px;
        &-img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
