.interview {
    margin-top: 100px;
    &__title {
        text-align: center;
    }
    &__subtitle {
        margin-top: 20px;
        text-align: center;
    }
    &__wrapper {
        margin-top: 45px;
        display: grid;
        grid-template-columns: 700px auto;
        grid-template-rows: 1fr;
        gap: 40px;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 10px;
    }
    &__item {
        width: 100%;
        border-radius: 10px;
        background-color: $color-blue-light;
        padding: 40px 25px 40px 90px;
        position: relative;
        &::after {
            position: absolute;
            top: 20px;
            left: -20px;
            display: block;
            font-weight: 700;
            font-size: 60px;
            line-height: 60px;
            -webkit-text-stroke: 1px $color-blue;            
            color: transparent;
        }
        &:nth-child(1)::after {
            content: '01';
        }
        &:nth-child(2)::after {
            content: '02';
        }
        &:nth-child(3)::after {
            content: '03';
        }
    }
    &__descr {
        margin-top: 10px;
    }
    &__box {
        max-width: 100%;
        max-height: 100%;
        &-img {
            max-width: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;

        }
    }
}
