.modal {
    position: fixed;
    display: flex;
    background-color: #00516ed4;
    height: 100vh;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: 60;
    animation: hide .3s forwards;
        &--active {
            animation: show .3s forwards;
    }
    &__wrapper {
        background-color: $color-blue-light;
        max-width: 450px;
        width: 100%;
        min-height: auto;
        padding: 20px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    &__btn {
        align-self: flex-end;
        position: relative;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        span {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 10px;
            background-color: $color-blue;
            &:first-child {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }
    &__title {
        margin-top: 10px;
        font-weight: 700;
        font-size: 20px;
    }
    &__subtitle {
        margin-top: 6px;
        font-size: 14px;
    }
    &__form {
        margin-top: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    &__input, &__textarea {
        color: $color-blue;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        border-bottom: 1px solid #00506e40;
        min-height: 30px;
        &::placeholder {
            color: rgb(211, 211, 211);
            font-size: 14px;
        }
    }
    &__textarea {
        resize: none;
    }
    &__button {
        width: 100%;
    }
}

.status {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    padding: 15px 15px 0;
    color: $color-blue; 
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}