.question {
    margin-top: 100px;
    &__title {
        text-align: center;
    }
    &__list {
        margin-top: 50px;
        background-color: $color-blue-light;
        padding: 50px 80px;
        list-style: none;
        border-radius: 10px;
    }
    &__item {
        padding: 30px 0;
        border-bottom: 1px solid $color-blue;
        width: 100%;
        &:last-child {
            border-bottom: none;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        cursor: pointer;
        &-title {
            color: $color-blue
        }
        &-btn {
            flex-shrink: 0;
            margin-left: 20px;
            display: block;
            width: 20px;
            height: 20px;
            border: none;
            background-color: transparent;
            position: relative;
            span {
                position: absolute;
                background-color: $color-blue;
                &:first-child {
                    width: 100%;
                    height: 2px;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin-bottom: auto;
                    margin-top: auto;
                }
                &:nth-child(2) {
                    height: 100%;
                    width: 2px;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    &__descr {
        margin-top: 16px;
        &-list {
            padding-left: 30px;
        }
        &-item {
        }
    }
}