.specialist {
    margin-top: 100px;
    &__title {
        text-align: center;
    }
    &__wrapper {
        margin-top: 45px;
    }
    &__btn {
        width: 50px;
        height: 50px;
        border: none;
        background-color: unset;
        &-img {
            width: 100%;
            height: 100%;
        }
    }
    &__slides {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        &-list {
            list-style: none;
        }
        &-item {
            padding: 25px;
            width: 650px;
            min-height: 300px;
            height: 100%;
            border-radius: 10px;
            border: 1px solid $color-blue-light;
            margin: 0 auto;
            display: none;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            &:last-child {
                flex-direction: column;
                justify-content: center;
            }
            &--active {
                display: flex;
            }
        }
    }
    &__box {
        width: 170px;
        height: 100%;
        &-img {
            width: inherit;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    &__info {       
        align-self: flex-start;
    }
    &__subtitle {
        margin-top: 20px;
    }
    &__text {
        color: $color-blue;
        font-size: 14px;
        line-height: 14px;
    }
    &__descr {
        margin-top: 15px;
        font-size: 14px;
        line-height: 20px;
    }
    &__dots {
        margin-top: 50px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        &-item {
            display: flex;
            align-items:center;
        }
        &-btn {
            border: none;
            border-radius: 100%;
            width: 16px;
            height: 16px;
            background: $color-blue-light;
            transition: 0.2s all;
            &--active {
                width: 20px;
                height: 20px;
                background: $color-blue;
            }   
        }
    }
}