.steps {
    margin-top: 100px;
    &__title {
        text-align: center;
    }
    &__subtitle {
        text-align: center;
        margin-top: 20px;
    }
    &__list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 10px;
    }
    &__item {
        max-width: 800px;
        background-color: $color-blue-light;
        border-radius: 10px;
        padding: 40px 40px 40px 90px;
        display: grid;
        grid-template-columns: minmax(auto, 520px) 100px;
        grid-template-rows: minmax(30px, auto) auto;
        justify-content: space-between;
        align-items: center;
        gap: 10px 30px;
        position: relative;
        &:nth-child(2), &:nth-child(4) {
            align-self: flex-end;
        }
        &::after {
            position: absolute;
            top: 20px;
            left: -20px;
            display: block;
            font-weight: 700;
            font-size: 60px;
            line-height: 60px;
            -webkit-text-stroke: 1px $color-blue;            
            color: transparent;
        }
        &:nth-child(1)::after {
            content: '01';
        }
        &:nth-child(2)::after {
            content: '02';
        }
        &:nth-child(3)::after {
            content: '03';
        }
        &:nth-child(4)::after {
            content: '04';
        }
    }
    &__box {
        grid-row: 1/3;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        border: 1px solid $color-blue;
        border-radius: 100%;
        &-img {
            max-height: 50px;
        }
    }
    &__btn {
        display: block;
        margin: 0 auto;
        margin-top: 45px;
    }
}