@import 'libs/bootstrap-reboot.min';
@import 'base/variables';

* {
    font-family: 'Inter', sans-serif;    
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: $color-black;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: $color-black-title;
}
.subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

@import 'blocks/media';
