@import 'libs/bootstrap-reboot.min';
@import 'base/variables';

* {
    font-family: 'Inter', sans-serif;    
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: $color-black;
}

p, h1, h3, h2, h4, h5, h6 {
    margin: 0;
}

h3 {
    font-size: unset;
    line-height: 1.3;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: $color-black-title;
}
.subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.button {
    background-color: $color-blue;
    border: none;
    border-radius: 10px;
    padding: 12px 35px;
    color: #fff;
    font-weight: 700;
    transition: .2s all;
    &:hover {
        background-color: #fff;
        color: $color-blue;
        box-shadow:inset 0px 0px 0px 2px $color-blue;    
    }
}

.visually-hidden {
    display: none;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    text-decoration: none;
    &-img {
        max-width: 40px;
    }
    &-text {
        font-weight: 700;
        font-size: 36px;
        line-height: 28px;
        color:#fff;
    }
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/benefit';
@import 'blocks/interview';
@import 'blocks/modal';
@import 'blocks/specialist';
@import 'blocks/steps';
@import 'blocks/emergency';
@import 'blocks/question';
@import 'blocks/contact';
@import 'blocks/bonus';
@import 'blocks/footer';

@import 'blocks/media';
